<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Track page</title>
  <style>
    body {background-color: #FFFFFF}
    a { color:#000000; text-decoration:none;}
  </style>
</head>
<body>
<h2 align="center">Tracks</h2>
<table th:if="${not #lists.isEmpty(group)}">
  <tr th:each="gr : ${group}">
    <td>
      <span th:text="${gr.id  + ') ' + gr.name + ' - ' + gr.length}"></span>
    </td>
  </tr>
</table>
<br>

<p align="center"><button type="submit" class="btn btn-light"><a th:href="@{/groups/{grId}/albums/{alId}/tracks/add(grId = ${idGroup}, alId = ${idAlbom})}">Add a new track</a></button></p>
<p align="center"><button type="submit" class="btn btn-light"> <a th:href="@{/groups/{grId}/albums(grId = ${idGroup})}">Go to list albums</a></button></p>
</body>
</html>